<h3><%= @task.title %></h3>	
			<p><em><%= @task.details %></em></p>

			<%= link_to "Edit", edit_task_path(@task) %>
			<%= link_to "Delete", task_path(@task),
									method: :delete %>
			<%= link_to 'Back', tasks_path %>